@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply h-full overflow-hidden;
   
}

.dark-mode {
    background : black;
    color : white;
}
.dark-mode section {
    background : black;
    color : white;
}
.dark-mode section p {
    background : black;
    color : white;
}

.dark-mode .navbar {
    background: white;
    color : black;
}



#__next {
    @apply h-full;
}

html {
    @apply h-full;
}


.resume span {
    font-weight:500;
    color : black;
}

.resume li {
    color : lightslategray;
}

.resume h3 {
    color : #d9740e;
}

.ResumeContent {
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(55, 53, 47);
}

.resumeContent li {

    list-style-type: disc;
}

.resumeContent h4 {
    margin-left: 0 !important;
}

.navlist a {

    transform: translateX(-100deg);
}
.navlist a:hover{
   transform: translateX(0);
   font-size: larger;
   border-bottom: skyblue solid 3px
}