@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply h-full overflow-hidden;
   
}

#__next {
    @apply h-full;
}

html {
    @apply h-full;
}


.resume span {
    font-weight:500;
    color : black;
}

.resume li {
    color : lightslategray;
}

.resume h3 {
    color : #d9740e;
    
}